---
import Layout from '../layouts/Layout.astro';
import GalerieSection from "../components/section/GalerieSection.astro";
---

<Layout title="Galerie | Mathis DETROUSSAT">
  <main class="pt-20">
    <GalerieSection />
  </main>
</Layout>
