---
interface Props {
  email?: string;
}

const {
  email = "detroussat.mathis@yahoo.com",
} = Astro.props;
---

<div class="absolute bottom-10 right-6 z-20 flex flex-col gap-6 text-sm font-bold sm:right-14 sm:flex-row sm:gap-16 sm:text-base">
  <!-- <div>
    <p class="text-[#6f5647]">Téléphone :</p>
    <p class="text-[#e7a7f4]">{phone}</p>
  </div>-->

  <div>
    <p class="text-[#6f5647]">Email :</p>
    <p class="text-[#e7a7f4] break-all">{email}</p>
  </div>
</div>